body {
  background-color: #253544;
}
.App {
  text-align: center;
  background-color: #253544 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.navbar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  z-index: 10;
}

.loginBtn {
  background: transparent !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(30px);
  align-items: center;
  color: #002b52 !important;
  border-radius: 10px !important;
}

.loginBtn:hover {
  color: #fff !important;
}

.homeWithoutLogin{
  height: 100vh;
  margin-top: -16vh;
}

.pagination{
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
}

.card{
  align-items: center; 
}

.title{
  font-size: x-large;
}

.movieDetailsBox{
  display: flex;
  justify-content: space-around;
}

.tagline{
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.releaseDate{
  font-size: medium;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
